html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-light{
    background-color : #fff;
}

.dropdown {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


#tagList {
    display: flex;
    gap: 10px;
}

#tagList li {
    border-radius: 2px;
    list-style: none;
    background: #cdcdcd;
    padding-inline: 10px;
}

#wishlistCountIcon{
    transform: scale(1.5);
}

.modal-dialog{
    max-width : 800px !important;
}

.gallery-image{
    height:7rem;
    width:7rem;
}

img.gallery-image {
    object-fit: contain;
}

.zoomContainer {
    z-index: 1060; /* Make sure it's above the modal */
}


.sidebar{
    height : 90vh;
    overflow-y : scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

#modalProductImage, #featureImageProduct{
    object-fit : cover;
}

.wishlistProductmage{
    object-fit : contain;
    width : 90%;
}

#modalProductImage:hover {
    transform: scale(1.2);
    transition: ease-in all;
}

img.gallery-image:hover {
    transform: scale(1.1);
    transition: ease-in all;
}

#featureImageProduct:hover {
    transform: scale(1.2);
    transition: ease-in all;
}

.danger {
    color: #dc3545;
}

.add-tag:hover{
    cursor : pointer
}